*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: #f70058;
  --clr-dark: #0c0e36;
  --clr-light: #fff;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
  --grid: minmax(1em, 10%) min-content minmax(10rem, 45ch) 1fr
    minmax(1em, max-content);
}

h1,
h2,
h3 {
  line-height: 1;
}

p {
  margin-top: 0;
}

.btn {
  cursor: pointer;
  padding: 0.5em 1.25em;
  text-transform: uppercase;
  font-weight: var(--fw-normal);
  text-decoration: none;
  display: inline-block;
}

.btn--primary {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.btn--primary:hover {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.btn--outline {
  background-color: transparent;
  color: var(--clr-primary);
  outline: 3px solid var(--clr-primary);
  outline-offset: -3px;
}

.btn--outline:hover {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  outline-color: var(--clr-dark);
}

html {
  height: 100vh;
  background-image: url(../images/sebastian-staines-xZIFEPtRsRI-unsplash.jpg);
  background-size: cover;
  background-position: right;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  color: var(--clr-dark);
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 3rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: var(--clr-light);
}

.nav {
  padding-inline: 2rem;
}

.nav__list {
  display: flex;
  gap: 3rem;
  justify-content: space-evenly;
  margin: 0;
  /* padding: 1em; */
  padding: 0;
  list-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
}

.nav__link {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}

.nav__link:hover {
  color: var(--clr-primary);
}

.weather {
  display: grid;
  background: var(--clr-dark);
  grid-template-columns: min-content max-content;
  color: var(--clr-light);
}

.weather__icon {
  background-color: var(--clr-primary);
  grid-row: 1 / span 2;
  padding: 0.5em;
  display: flex;
}

.weather__info {
  display: flex;
  gap: 1rem;
  margin: 0;
  margin-left: 0.75rem;
  font-weight: var(--fw-normal);
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
}

.weather__info:first-of-type {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.weather__info:first-of-type::after {
  content: '';
  position: absolute;
  background: #8a8a9d;
  height: 1px;
  width: calc(100% - 0.75rem);
  bottom: -0.25rem;
}

.weather__info:last-of-type {
  margin-bottom: 0.5rem;
}

.weather__info span {
  color: var(--clr-light);
  font-size: 0.875rem;
  margin-left: auto;
  margin-right: 0.75rem;
  text-transform: none;
}

/*  */

.main {
  width: 50vw;
  margin-left: 10vw;
  /* background: rgba(255, 255, 255, 0.7); */
  padding: 2rem;
  margin-top: 4rem;
}

.main__title {
  font-size: 3rem;
  line-height: 1;
  font-weight: var(--fw-black);
  margin-bottom: 0.75em;
}

.main__intro {
  margin-bottom: 4em;
}

.main__btns {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

/* Styles will apply to viewport width less than 900px */
@media (max-width: 900px) {
  header {
    padding-left: 0;
  }
  .img-container {
    flex-basis: 100%;
    padding-block: 1rem;
  }

  .main {
    width: 60vw;
    background: rgba(255, 255, 255, 0.7);
  }
}

@media (max-width: 700px) {
  header {
    gap: 1rem;
    justify-content: center;
  }
  .weather {
    flex: 1;
  }

  .main {
    width: 90vw;
    margin-inline: 5vw;
  }
}
